.cashierPageContainer {
  padding: 20px;
}

.cashierHeader {
  text-align: center;
  margin-bottom: 20px;
}

.cashierContent {
  max-height: 400px;
  overflow-y: auto;
}

.cashierContent button {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cashierContent button:hover {
  background-color: #eef;
}

.backButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #d32f2f;
}
